.sy-head {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sy-head .sy-head-a {
    width: 2.16rem;
    height: 0.7rem;
    margin-left: 0.18rem;
    clear: both; }
    .sy-head .sy-head-a .a-img {
      width: 100%;
      height: 100%;
      float: left; }
  .sy-head .sy-head-p {
    width: 1.24rem;
    height: 0.7rem;
    margin-right: 0.18rem;
    display: flex; }
    .sy-head .sy-head-p .p-a {
      width: 0.45rem;
      height: 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      justify-content: space-around; }
      .sy-head .sy-head-p .p-a .span1 {
        width: 0.4rem;
        height: 0.42rem;
        font-size: 0.26rem; }
      .sy-head .sy-head-p .p-a .span2 {
        width: 0.45rem;
        height: 0.3rem;
        overflow: hidden;
        font-size: 0.2rem; }
    .sy-head .sy-head-p .p-a1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 0.45rem;
      height: 0.7rem; }
      .sy-head .sy-head-p .p-a1 .span1 {
        width: 0.4rem;
        height: 0.42rem;
        font-size: 0.26rem; }
      .sy-head .sy-head-p .p-a1 .span2 {
        width: 0.45rem;
        height: 0.3rem;
        overflow: hidden;
        font-size: 0.2rem; }

.content {
  width: 100%; }
  .content .content-img {
    width: 100%;
    height: 2.35rem; }
    .content .content-img .img1 {
      width: 100%;
      height: 100%; }
  .content .content-lb {
    border-bottom: 0.18rem solid #ececec;
    width: 100%;
    height: 4.62rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    .content .content-lb a {
      width: 25%;
      height: 1.9rem; }
      .content .content-lb a figure {
        text-align: center;
        width: 100%;
        height: 100%; }
        .content .content-lb a figure img {
          width: 1.2rem;
          height: 1.2rem; }
        .content .content-lb a figure figcaption {
          font-size: 0.28rem;
          color: #333;
          width: 100%;
          height: 0.38rem;
          overflow: hidden;
          text-align: center; }
  .content .content-zhuangxiu {
    width: 100%; }
    .content .content-zhuangxiu .zhuangxiu {
      margin: 0.32rem 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 0.42rem;
      border-left: 0.05rem solid #3ac994; }
      .content .content-zhuangxiu .zhuangxiu .span1 {
        padding-left: 0.12rem;
        padding-right: 0.22rem;
        font-size: 0.36rem;
        color: #000000; }
      .content .content-zhuangxiu .zhuangxiu span {
        font-size: 0.24rem;
        color: #999999; }
    .content .content-zhuangxiu .zhuangxiu-img {
      margin: 0 auto;
      width: 7.14rem;
      height: 4.04rem; }
      .content .content-zhuangxiu .zhuangxiu-img .img {
        width: 100%;
        height: 100%; }
    .content .content-zhuangxiu .zhuangxiu-wen {
      margin: 0.36rem auto;
      width: 7.08rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .content .content-zhuangxiu .zhuangxiu-wen .div {
        display: flex;
        align-items: center; }
        .content .content-zhuangxiu .zhuangxiu-wen .div img {
          width: 0.36rem;
          height: 0.36rem; }
        .content .content-zhuangxiu .zhuangxiu-wen .div .span1 {
          overflow: hidden;
          font-size: 0.31rem;
          width: 2.13rem;
          height: 0.36rem; }
        .content .content-zhuangxiu .zhuangxiu-wen .div .span2 {
          overflow: hidden;
          font-size: 0.31rem;
          width: 1.64rem;
          height: 0.36rem; }
        .content .content-zhuangxiu .zhuangxiu-wen .div .span3 {
          overflow: hidden;
          font-size: 0.31rem;
          width: 1.25rem;
          height: 0.36rem; }
  .content .content-yuyue {
    border-bottom: 0.2rem solid #f4f4f4;
    width: 100%; }
    .content .content-yuyue .yuyue {
      margin: 0.32rem 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 0.42rem;
      border-left: 0.05rem solid #3ac994; }
      .content .content-yuyue .yuyue .span1 {
        padding-left: 0.12rem;
        padding-right: 0.22rem;
        font-size: 0.36rem;
        color: #000000; }
      .content .content-yuyue .yuyue span {
        font-size: 0.24rem;
        color: #999999; }
    .content .content-yuyue .zhuangxiu-k {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 auto;
      width: 5.87rem; }
      .content .content-yuyue .zhuangxiu-k input {
        padding-left: 0.2rem;
        width: 5.65rem;
        height: 0.7rem;
        font-size: 0.28rem;
        color: #cacaca;
        border: 0.01rem #eeeeee solid;
        border-radius: 0.05rem;
        margin-top: 0.25rem; }
      .content .content-yuyue .zhuangxiu-k .zhuangxiu-btn {
        margin-bottom: 0.3rem; }
        .content .content-yuyue .zhuangxiu-k .zhuangxiu-btn .btn-button {
          background: #feb605;
          width: 5.85rem;
          height: 0.7rem;
          color: white;
          font-size: 0.36rem; }
  .content .content-shejishi {
    border-bottom: 0.2rem solid #f4f4f4;
    width: 100%; }
    .content .content-shejishi .shejishi {
      margin: 0.32rem 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 0.42rem;
      border-left: 0.05rem solid #3ac994; }
      .content .content-shejishi .shejishi .span1 {
        padding-left: 0.12rem;
        padding-right: 0.22rem;
        font-size: 0.36rem;
        color: #000000; }
    .content .content-shejishi .shejishi-tw {
      width: 7.15rem;
      height: 2.43rem;
      display: flex;
      justify-content: space-around; }
      .content .content-shejishi .shejishi-tw figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 1.4rem;
        height: 2.43rem; }
        .content .content-shejishi .shejishi-tw figure img {
          width: 1.4rem;
          height: 1.4rem; }
        .content .content-shejishi .shejishi-tw figure figcaption {
          height: 0.8rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center; }
          .content .content-shejishi .shejishi-tw figure figcaption .sjs {
            font-size: 0.36rem;
            color: #000000;
            width: 1.2rem;
            height: 0.36rem;
            overflow: hidden; }
          .content .content-shejishi .shejishi-tw figure figcaption .yx {
            overflow: hidden;
            width: 1.2rem;
            height: 0.32rem;
            background: #39c893;
            font-size: 0.24rem;
            color: white; }
    .content .content-shejishi .shejizhe-huan {
      margin: 0.36rem auto;
      width: 7.15rem;
      height: .7rem;
      display: flex; }
      .content .content-shejishi .shejizhe-huan p {
        width: 50%;
        height: 100%;
        border: .01rem solid #ececec;
        text-align: center;
        line-height: .2rem; }
        .content .content-shejishi .shejizhe-huan p .span1 {
          font-size: .28rem;
          color: #39c893; }
        .content .content-shejishi .shejizhe-huan p .span2 {
          color: #39c893; }
  .content .content-xiaoguo {
    width: 100%;
    border-bottom: 0.2rem solid #f4f4f4; }
    .content .content-xiaoguo .shejishi {
      margin: 0.32rem 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 0.42rem;
      border-left: 0.05rem solid #3ac994; }
      .content .content-xiaoguo .shejishi .span1 {
        padding-left: 0.12rem;
        padding-right: 0.22rem;
        font-size: 0.36rem;
        color: #000000; }
    .content .content-xiaoguo .tuwen-top {
      width: 7.16rem;
      height: 5.06rem; }
      .content .content-xiaoguo .tuwen-top figure {
        position: relative;
        width: 100%;
        height: 100%; }
        .content .content-xiaoguo .tuwen-top figure img {
          width: 100%;
          height: 100%; }
        .content .content-xiaoguo .tuwen-top figure figcaption {
          position: absolute;
          font-size: 0.27rem;
          width: 0.7rem;
          height: 0.42rem;
          background: rgba(0, 0, 0, 0.5);
          right: .14rem;
          bottom: .1rem;
          border-radius: 0.05rem;
          color: white;
          text-align: center;
          line-height: 0.42rem; }
    .content .content-xiaoguo .tuwen-bottom {
      width: 7.16rem;
      height: 5.08rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .content .content-xiaoguo .tuwen-bottom figure {
        position: relative;
        width: 3.55rem;
        height: 2.52rem; }
        .content .content-xiaoguo .tuwen-bottom figure img {
          width: 100%;
          height: 100%; }
        .content .content-xiaoguo .tuwen-bottom figure figcaption {
          position: absolute;
          font-size: 0.27rem;
          width: 0.7rem;
          height: 0.42rem;
          background: rgba(0, 0, 0, 0.5);
          right: .13rem;
          bottom: .1rem;
          border-radius: 0.05rem;
          color: white;
          text-align: center;
          line-height: 0.42rem; }
        .content .content-xiaoguo .tuwen-bottom figure .tu1, .content .content-xiaoguo .tuwen-bottom figure .tu3 {
          right: 0.07rem; }
    .content .content-xiaoguo .shejizhe-huan {
      margin: 0.36rem auto;
      width: 7.15rem;
      height: .7rem;
      display: flex; }
      .content .content-xiaoguo .shejizhe-huan p {
        width: 50%;
        height: 100%;
        border: .01rem solid #ececec;
        text-align: center;
        line-height: .2rem; }
        .content .content-xiaoguo .shejizhe-huan p .span1 {
          font-size: .28rem;
          color: #39c893; }
        .content .content-xiaoguo .shejizhe-huan p .span2 {
          color: #39c893; }
  .content .content-gongdi {
    width: 100%;
    border-bottom: 0.2rem solid #f4f4f4; }
    .content .content-gongdi .shejishi {
      margin: 0.32rem 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 0.42rem;
      border-left: 0.05rem solid #3ac994; }
      .content .content-gongdi .shejishi .span1 {
        padding-left: 0.12rem;
        padding-right: 0.22rem;
        font-size: 0.36rem;
        color: #000000; }
    .content .content-gongdi .tuwen-top figure {
      position: relative;
      width: 100%;
      height: 100%; }
      .content .content-gongdi .tuwen-top figure img {
        width: 100%;
        height: 100%; }
      .content .content-gongdi .tuwen-top figure figcaption {
        position: absolute;
        font-size: 0.27rem;
        width: 0.7rem;
        height: 0.42rem;
        background: rgba(0, 0, 0, 0.5);
        right: .14rem;
        bottom: .1rem;
        border-radius: 0.05rem;
        color: white;
        text-align: center;
        line-height: 0.42rem; }
    .content .content-gongdi .gongdi-wen {
      margin: 0.3rem 0 0.4rem 0;
      display: flex;
      align-items: center; }
      .content .content-gongdi .gongdi-wen .span1 {
        width: 1.84rem;
        height: 0.3rem;
        font-size: 0.28rem;
        display: inline-block;
        overflow: hidden;
        color: #000;
        margin: 0 0.28rem 0 0.23rem; }
      .content .content-gongdi .gongdi-wen .span2 {
        width: 1.13rem;
        height: 0.31rem;
        font-size: 0.25rem;
        display: inline-block;
        overflow: hidden;
        color: white;
        text-align: center;
        line-height: 0.31rem;
        border-radius: 0.05rem;
        background: #3ac994; }
    .content .content-gongdi .gongdi-huan {
      margin: 0.36rem auto;
      width: 7.15rem;
      height: .7rem;
      display: flex; }
      .content .content-gongdi .gongdi-huan p {
        width: 50%;
        height: 100%;
        border: .01rem solid #ececec;
        text-align: center;
        line-height: .2rem; }
        .content .content-gongdi .gongdi-huan p .span1 {
          font-size: .28rem;
          color: #39c893; }
        .content .content-gongdi .gongdi-huan p .span2 {
          color: #39c893; }

/*# sourceMappingURL=ym1.css.map */
